<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-block">
      <h3>Edit Profile</h3>
      <%= simple_form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :profile_pic %>
          <br>
          <%= render 'shared/profile_pic', user: @user %>
          <br>
          <br>
          <%= f.file_field :profile_pic %>
        </div>
        <div class="form-group">
          <%= f.label :timeline_pic %>
          <br>
          <%= render 'shared/timeline_pic', user: @user %>
          <br>
          <%= f.file_field :timeline_pic %>
        </div>
        <div class="form-group">
          <%= f.input :first_name, placeholder: 'First Name', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :last_name, placeholder: 'Last Name', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :bio, as: :text, placeholder: 'About', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.button :submit, 'Update', class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
